body {
  background-color: grey;
}

.loginOne {
  height: 70vh;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  box-shadow: 10px 10px 5px #fff inset;
  background-color: aliceblue;
}
.login {
  height: 15vh;
  width: 100%;
  color: red;
  font-size: 60px;
  padding-top: 0%;
  padding-left: 3%;
}
input[type="text"],
input[type="password"] {
  width: 50%;
  padding: 12px 20px;
  margin-left: 25%;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

label.lbl {
  margin-left: 40%;
  margin-top: 0px;
}

label.password {
  margin-left: 40%;
}

.btn {
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 50%;
  color: white;
  background-color: red;
  border-radius: 20px;
  width: 150px;
  height: 30px;
}

input[type="checkbox"] {
  margin-left: 25%;
}

.passwordOne {
  margin-left: 67%;
}

.signup {
  height: 100vh;
}
.signUp {
  width: 100%;
  height: 15vh;
  padding-left: 3%;
  padding-top: 3%;
  font-size: 30px;
  background-color: aquamarine;
}

.btn-send {
  margin-left: 40%;
  margin-top: 3%;
  background-color: red;
  color: white;
  border-radius: 20px;
  width: 200px;
  height: 50px;
}

@media (max-width: 480px) {
  body {
    background-color: none;
  }
  .loginOne {
    height: 70vh;
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
    box-shadow: 10px 10px 5px #fff inset;
    background-color: aliceblue;
  }

  .btn {
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 50%;
    color: white;
    background-color: red;
    border-radius: 20px;
    width: 150px;
    height: 30px;
  }
  .login {
    height: 15vh;
    width: 100%;
    color: red;
    font-size: 30px;
    padding-top: 0%;
    padding-left: 3%;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .loginOne {
    height: 60vh;
    width: 100%;
    margin-left: 0%;
    margin-top: 2%;
    box-shadow: 10px 10px 5px #fff inset;
    background-color: aliceblue;
  }
}
