* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Cairo", sans-serif;
  font-family: "Open Sans", sans-serif;
}

nav {
  height: 100vh;
  width: 15vw;
  margin-left: 0px;
}
.name {
  font-size: 40px;
  line-height: 50px;
  padding-left: 13%;
  padding-top: 50px;
  align-items: center;
}
.nameOne {
  padding-left: 15%;
  color: black;
  font-size: 13px;
}
nav li {
  display: block;
  line-height: 40px;
  list-style: none;
  margin: 0 8px;
}

nav a {
  color: black;
  font-size: 18px;
  border-radius: 3px;
}

#bars {
  margin-top: 10px;
}
.checkbtn {
  font-size: 30px;
  color: black;
  line-height: 80px;
  cursor: pointer;
  display: none;
  margin-right: 40px;
}
.fixed {
  position: fixed;
  margin-left: 0;
  margin-bottom: 0px;
}

.indexOne {
  margin-left: 50px;
}
.aboutOne {
  margin-left: 30px;
}
.skillsOne {
  margin-left: 50px;
}
.portoOne {
  margin-left: 25px;
}
.blogOne {
  margin-left: 50px;
}
.cont {
  margin-left: 30px;
}
.log {
  margin-left: 50px;
}
#bodyTwo {
  color: whitesmoke;
  background-image: url("../Image/image1.jpeg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  margin-left: 15%;
  padding: 30px;
  font-size: 30px;
  letter-spacing: 0.3rem;
}
.container {
  display: flex;
}
.header {
  background-color: rgb(231, 224, 224);
  height: 30vh;
}
/* ABOUT */

#bodyThree {
  margin-left: 15%;
  height: 100vh;
}

#about {
  height: 100px;
  color: #fff;
  background-color: #04aa6d;
  padding-top: 40px;
  padding-left: 50px;
  font-size: 30px;
}

#aboutText {
  margin-left: 150px;
  margin-right: 50px;
  line-height: 20px;
  margin-top: 100px;
  letter-spacing: 0.1rem;
}

/* PORTOFOLIO */

#bodyFive {
  margin-left: 15%;
  height: 100vh;
  justify-content: center;
}

#skills {
  height: 100px;
  color: #fff;
  background-color: #04aa6d;
  padding-top: 40px;
  padding-left: 50px;
  font-size: 30px;
}
.skillsTwo {
  height: 200px;
  width: 300px;
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 5px;
}
h1 {
  padding-left: 100px;
}

/* PORTOFolio*/

#bodySix {
  margin-left: 15%;
  height: 100vh;
}

#porto {
  color: #fff;
  background-color: #04aa6d;
  padding-top: 40px;
  padding-left: 50px;
  font-size: 30px;
  height: 100px;
}
.web {
  height: 200px;
  width: 350px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.portoTwo {
  border: 1px solid;
  height: 100%;
  width: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5%;
  margin-left: 10%;
}

.portoThree {
  border: 1px solid;
  width: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5%;
  margin-left: 50px;
}
.portoFour {
  display: flex;
}

.portoFive {
  padding: 40px;
}
.portoSix {
  font-weight: bold;
}
/* BLOG */
#bodySeven {
  margin-left: 0%;
  height: 100vh;
}

.blogGen {
  display: flex;

  justify-content: space-around;
  padding: 20px;
  padding-top: 100px;
  padding-right: 40px;
}
.blogGen section {
  width: 240px;
  height: 400px;

  box-shadow: 30px;
  border: 1px solid blue;
}
#blogs {
  color: #fff;
  background-color: #04aa6d;
  padding-top: 40px;
  padding-left: 50px;
  font-size: 30px;
  height: 100px;
}

.blog-title {
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
}

.blog-text {
  padding: 10px;
}
.btm {
  margin-left: 60px;
  background-color: #04aa6d;
  color: white;
  height: 30px;
  font-size: 15px;
}

.img-blog {
  height: 200px;
  width: 230px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 5px;
}
/* .img-blog{
  height: 200px;
  width: 300px;
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 5px;
} */
/* 
.blogOne {
  height: 45%;
  width: 20%;
  border: 1px black solid;
  box-shadow: 10px;
  margin: 30px;
  border-radius: 10%;
  padding: 40px;
}
.blogTwo {
  height: 45%;
  width: 20%;
  border: 1px solid;
  margin: 30px;
  border-radius: 10%;
  padding: 40px;
}
.blogThree {
  height: 45%;
  width: 20%;
  border: 1px solid;
  margin: 30px;
  border-radius: 10%;
  padding: 40px;
}
.blogFour {
  height: 45%;
  width: 20%;
  border: 1px solid;
  margin: 30px;
  border-radius: 10%;
  padding: 40px;
} */

#bodyFour {
  margin-left: 0%;
  height: 100vh;
}
#contact {
  background-color: #04aa6d;
  height: 100px;
  color: #ffffff;
  padding: 20px 25px;
  padding-top: 40px;
  padding-left: 50px;
  font-size: 30px;
}

.navbarOne {
  width: 143px;
  display: inline-block;
}

#contactOne {
  display: flex;
}
.contactTwo {
  padding-left: 50px;
  padding-top: 50px;
}

.navbarTwo {
  padding-left: 235px;
  padding-top: 40px;
}
.btn {
  width: 100px;
  height: 40px;
  background-color: red;
  opacity: 60%;
  color: #ffffff;
  margin-left: 100px;
}

@media (max-width: 480px) {
  .containerOne {
    width: 100%;
    height: 20%;
  }
  label.logo {
    border: 1px solid;
    height: 20%;
    width: 100%;
  }
  .header {
    background-color: #333;
    height: 50%;
    width: 100%;
  }
  .name {
    font-size: 100%;
    color: #009688;
    margin-top: -20%;
  }
  .nameOne {
    font-size: 80%;
    margin-left: 0px;
    color: black;
    margin-top: -5%;
    opacity: 70%;
  }
  nav {
    width: 100%;
  }
  nav ul {
    margin-right: 0px;
    background-color: none;
  }
  nav li {
    display: block;
    line-height: 30px;
    margin: 0 0px;
    padding-left: 0px;
    margin-top: 0px;
  }

  nav a {
    color: black;
    font-size: 13px;
  }
  .container {
    display: block;
  }

  .btnOne {
    display: inline-block;
  }

  #bars {
    margin-top: 0px;
  }
  .fixed {
    position: relative;
    margin-left: 0;
    margin-bottom: 0px;
  }
  #bodyTwo {
    margin-left: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 15px;
    letter-spacing: 0.2rem;
    margin-top: -160%;
  }

  #bodyThree {
    margin-left: 0%;
    height: 100%;
  }

  #about {
    height: 50px;
    color: #fff;
    background-color: #04aa6d;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 15px;
  }

  #aboutText {
    margin-left: 2px;
    margin-right: 2px;
    line-height: 15px;
    margin-top: 5px;
    letter-spacing: 0.2rem;
  }

  #bodyFive {
    margin-left: 0%;
    height: 100%;
  }

  #skills {
    height: 50px;
    color: #fff;
    background-color: #04aa6d;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 15px;
  }
  img {
    height: 20%;
    width: 60%;
    padding-left: 50px;
    padding-right: 30px;
  }
  h1 {
    padding-left: 60px;
  }

  #bodySix {
    margin-left: 0%;
    height: 100%;
  }

  #porto {
    height: 50px;
    color: #fff;
    background-color: #04aa6d;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 15px;
  }
  .web {
    height: 200px;
    width: 230px;
    padding-top: 20px;
  }

  .portoTwo {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin-top: 10%;
    border-radius: 5%;
    margin-left: 10%;
  }

  .portoThree {
    border: 1px solid;
    width: 80%;
    margin-top: 10%;
    border-radius: 5%;
    margin-left: 50px;
    margin-bottom: 10px;
  }
  .portoFour {
    display: block;
  }

  #bodySeven {
    height: 100%;
  }
  .blogGen {
    display: block;
  }

  .blogOne {
    height: 15%;
    width: 90%;
    border: 1px solid;
    margin: 10px;
    border-radius: 5%;
    padding: 10px;
  }
  .blogTwo {
    height: 15%;
    width: 90%;
    border: 1px solid;
    margin: 10px;
    border-radius: 5%;
    padding: 10px;
  }

  .blogThree {
    height: 15%;
    width: 90%;
    border: 1px solid;
    margin: 30px;
    border-radius: 5%;
    padding: 10px;
  }
  .blogFour {
    height: 15%;
    width: 90%;
    border: 1px solid;
    margin: 10px;
    border-radius: 5%;
    padding: 10px;
  }
  #bodyFour {
    margin-left: 0px;
  }

  .navbarOne {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: inline-block;
    height: 30%;
  }

  .navbarTwo {
    padding-left: 10px;
    margin-left: 40px;
  }

  #contact {
    height: 50px;
    color: #fff;
    background-color: #04aa6d;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 15px;
  }
  #contactOne {
    display: block;
  }
  .contactTwo {
    margin-top: 30px;
    /* margin-left: 40px; */
  }
  .btn {
    width: 200px;
    height: 40px;
    background-color: red;
    opacity: 60%;
    color: #ffffff;
    margin-left: 35px;
  }
}
