@media screen and (max-width: 480px){
  body{

    padding : 0; 
    margin: 0;
    height: 100vh;
}

#header {
  
    background-color: #008000;
    height: 50px;
    width: 100%;
    /* color : #ffffff; */
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 250px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    /* float: left; */
    border-right:2px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    /* color: blue; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* padding-bottom: 150px; */
  }
  li a:hover:not(.active) { 
    background-color: #111; 
   } 
   
  .active {
    background-color: #04AA6D;
  }
img{
    width: 90%;
    height: 300px;
    /* padding-left: 110px; */
}

/* #pictureOne{ */
    /* display: flex;  */
/* } */

#divOne{
  width: 300px;
  border: 2px solid green;
  margin-top: 130px;
  margin-bottom: 150px;
 
}

#contact{
  background-color: #008000;
    height: 50px;
    width: 97%;
    color : #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 14px 16px;
}

.navbarOne{

background-color: #008000;
}

#contactOne{
  display: flex;
  align-items: center;
}
.contactTwo{
  padding-left: 50px;
}

.navbarTwo{
  padding-left: 250px;
}

}


@media screen and (min-width: 480px) and (max-width: 1440px){
body{

    padding : 0; 
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}

#header {
  
    background-color: #008000;
    height: 50px;
    width: 100%;
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  /* li a :hover{
    background-color: #111;
  } */
  li a:hover:not(.active) { 
    background-color: #111; 
   }  
   
   .active {
    background-color: #04AA6D;
  }
img{
    width: 90%;
    height: 520px;
}

#pictureOne{
    display: flex; 
}

#divOne{
  width: 300px;
  margin-top: 130px;
  margin-bottom: 150px;
  margin-left: 20px;
  background-color: #808080;
}

#contact{
  background-color: #008000;
    height: 50px;
    width: 97%;
    color : #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 25px;
}

.navbarOne{
background-color: #008000;
margin-top: 40px;
width: 143px;
}

#contactOne{
  display: flex;
  /* align-items: center; */
}
.contactTwo{
  padding-left: 50px;
}

.navbarTwo{
  padding-left: 230px;
  padding-top: 40px;
  
}
.btn{
  width: 680px;
  height: 30px;
  background-color: red;
  color: #ffffff;
}
}