
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none  ;
  list-style: none;
}
body{
  font-family: Arial, Helvetica, sans-serif;   
} 

nav{ 
  height: 100vh;
  width: 17%;
  position: fixed;
  margin-left: 0;
  align-items: center;
  margin-left: 0px;
} 
label.logo{
  border: 1px solid;
  height: 20%;
  width: 100%;
}
.name{
  font-size: 25px;
  padding-top: 15%;
  padding-left: 15%;
  align-items: center;
}
.nameOne{
  padding-left: 2%;
  color: black; 
  font-size: 12px;
  padding-left: 30px;
  
}  
nav ul{
  margin-right: 40px;
}
nav li{
  display: block;
  line-height: 80px;
  margin: 0 8px;
  /* background-color: white; */
}

nav a{
  color: black;
  font-size:18px;
  padding: 7px 10px;
  border-radius: 3px;

}

.checkbtn{
  font-size: 30px;
  color: black;
  line-height: 80px;
  cursor: pointer;
  display: none;
  margin-right: 40px;
}
/* #check{
  display: none;
}  */
#bodyTwo{  
  color: whitesmoke;
   background-image: url("../Image/image1.jpeg");  
  width: 100vw;
  height: 100vh;
  z-index: 1;
  margin-left: 210px;
  padding: 30px;
  font-size: 30px;
  letter-spacing: 0.3rem;
}
.container{
  display: flex;
}  

/* .btnOne{
  display: none;
} */


/* .containerOne{ */
  /* background-color: grey; */
  /* display: none; */
/* } */
.header{
  background-color: rgb(231, 224, 224);
}

.bodyThree{
  margin-left: 210px;
}

#bodyFour{
  margin-left: 210px;
}
#contact{
  background-color: #04AA6D;
    height: 50px;
    width: 100%;
    color : #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 25px;
} 

.navbarOne{
/* background-color: grey; */
margin-top: 40px;
width: 143px;
display: inline-block;

}  

#contactOne{
  display: flex;
  /* background-color: grey; */
  /* align-items: center; */
}
.contactTwo{
  padding-left: 50px;
}

.navbarTwo{
  padding-left: 235px;
  padding-top: 40px;
  
}
.btn{
  width: 100px;
  height: 40px;
  background-color: red;
  /* border-radius: 15%; */
  opacity: 60%;
  color: #ffffff;
  margin-left: 100px;
}


@media (max-width:480px) {

.containerOne{
  width: 100vw;
  /* height: 20%; */
  /* background-color: blue; */
  /* display: inline-block; */
  /* position: fixed; */
}
  
.btnOne{
  float: left;
}
 
.name{
  font-size: 10px;
}
.nameOne{
  font-size: 7px;
}
.container{
  display: block;
}

#bodyTwo{
  margin-left: 0px;
  width: 100VW;
  height: 500px;
  padding-top: 20px;
}
#bodyFour{
  margin-left: 0px;
  /* display: flex; */
}

.navbarOne{
  /* background-color: white; */
  margin-top: 5px;
  /* height: 30px; */
}

.navbarTwo{
  padding-left: 10px;
  /* padding-top: 40px; */
  /* float: left; */
  
}

#contact{
  background-color: #04AA6D;
    height: 50px;
    width: 100%;
    color : #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 20px 25px; */
} 
#contactOne{
  display: block;
  /* background-color: grey; */
  /* align-items: center; */
}

.btn{
  width: 200px;
  height: 40px;
  background-color: red;
  /* border-radius: 15%; */
  opacity: 60%;
  color: #ffffff;
  margin-left: 35px;
}



}
