@media (min-width: 481px) and (max-width: 1044px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  body {
    font-family: "Open Sans", sans-serif;
    font-family: Arial, Helvetica, sans-serif;
  }

  nav {
    height: 100%;
    width: 15vh;
    margin-left: 0px;
  }
  label.logo {
    border: 1px solid;
  }
  .name {
    font-size: 10px;
    color: teal;
    line-height: 20px;
    padding-left: 15%;
    padding-top: 10px;
    align-items: center;
  }
  .nameOne {
    padding-left: 10px;
    color: black;
    font-size: 8px;
  }
  nav ul {
    margin-right: 0px;
  }
  nav li {
    display: block;
    line-height: 30px;
    padding-left: 0%;
    margin: 0 0px;
  }

  nav a {
    color: black;
    font-size: 13px;
    padding: 1px 7px;
    border-radius: 3px;
  }

  .indexOne {
    margin-left: 7%;
  }
  .aboutOne {
    margin-left: 0%;
  }
  .skillsOne {
    margin-left: 7%;
  }
  .portoOne {
    margin-left: 0%;
  }
  .blogOne {
    margin-left: 7%;
  }
  .cont {
    margin-left: 0%;
  }
  .log {
    margin-left: 2%;
  }

  #bodyTwo {
    color: whitesmoke;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding: 30px;
    font-size: 30px;
    letter-spacing: 0.3rem;
  }

  #bodyThree {
    margin-left: 15%;
    height: 100%;
    margin-top: auto;
  }

  #about {
    height: 100px;
    color: #fff;
    background-color: #04aa6d;
    padding-top: 40px;
    padding-left: 50px;
    font-size: 30px;
  }

  #aboutText {
    margin-left: 100px;
    margin-right: 100px;
    line-height: 20px;
    margin-top: 100px;
    letter-spacing: 0.1rem;
  }

  /* SKILLS  */

  #bodyFive {
    margin-left: 15%;
    height: 100%;
    justify-content: center;
  }

  #skills {
    height: 100px;
    color: #fff;
    background-color: #04aa6d;
    padding-top: 40px;
    padding-left: 50px;
    font-size: 30px;
  }
  .skillsTwo {
    height: 200px;
    width: 250px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 5px;
  }
  h1 {
    padding-left: 50px;
  }

  /* PORTOFolio*/

  #bodySix {
    margin-left: 15%;
    height: auto;
  }

  #porto {
    color: #fff;
    background-color: #04aa6d;
    padding-top: 40px;
    padding-left: 50px;
    font-size: 15px;
    height: 100px;
  }
  .web {
    height: 180px;
    width: 230px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .portoTwo {
    border: 1px solid;
    height: 100%;
    width: 45%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
    margin-left: 10%;
  }

  .portoThree {
    border: 1px solid;
    width: 45%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
    margin-left: 50px;
  }
  .portoFour {
    display: flex;
    flex-direction: column;
  }

  .portoFive {
    padding: 40px;
  }
  .portoSix {
    font-weight: 20px;
  }

  /* BLOG */
  #bodySeven {
    margin-left: 0%;
    height: auto;
  }

  .blogGen {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    padding: 20px;
    padding-top: 100px;
    padding-right: 40px;
  }
  .blogGen section {
    width: 300px;
    height: 400px;
    margin: 1.5rem;
    margin-left: 15%;
    box-shadow: 30px;
    border: 1px solid blue;
  }
  #blogs {
    color: #fff;
    background-color: #04aa6d;
    padding-top: 40px;
    padding-left: 50px;
    font-size: 30px;
    height: 100px;
  }

  #bodyFour {
    height: 100vh;
  }

  form {
    border: 1px solid;
    margin: 0px;
    margin-right: 60px;
  }

  input[type="name"] {
    height: 30px;
    width: 120px;
    margin-left: 10px;
    margin-right: 0px;
  }

  input[type="email"] {
    height: 30px;
    width: 120px;
  }

  input[type="text"] {
    height: 150px;
    margin-left: 10px;
    width: 250px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .send-blog {
    width: 130px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: red;
    border-radius: 10px;
    margin-left: 50px;
  }
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: block;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.nav-links a {
  color: white;
}

.menu {
  display: block;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/*RESPONSIVE NAVBAR MENU STARTS*/

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  /* user-select: none; */
  margin-left: 10px;
  /* color: teal; */
  color: teal;
  position: fixed;
  margin-top: -11%;
}

@media (min-width: 100px) and (max-width: 360px) {
  .hamburger {
    margin-top: -17%;
  }

  .header {
    background-color: bisque;
    position: sticky;
    height: 11%;
    width: 100%;
    margin-top: -60px;
  }

  form {
    border: 1px solid;
    margin: 0px;
    margin-right: 60px;
    margin-top: 50px;
    margin-left: 0px;
  }

  input[type="name"] {
    height: 30px;
    width: 150px;
    margin-left: 10px;
    margin-right: 0px;
  }

  input[type="email"] {
    height: 30px;
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
  }

  input[type="text"] {
    height: 150px;
    margin-left: 10px;
    width: 150px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .send-blog {
    width: 130px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: red;
    border-radius: 10px;
    margin-left: 50px;
  }

  .blogOne {
    margin-left: 5px;
  }
  .blogTwo {
    margin-left: 5px;
  }
  .blogThree {
    margin-left: 5px;
  }
  .blogFour {
    margin-left: 5px;
  }
  .portoFive {
    padding: 5px;
  }
  .porto-title {
    margin: 0px;
    padding: 10px;
    font-weight: 0px;
  }

  .portoTwo {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
    margin-left: 2%;
  }

  .portoThree {
    border: 1px solid;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
    margin-left: 2%;
  }
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}
