* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Open Sans;
}

#home {
  display: flex;
  flex-direction: row;
}

.navList {
  background-color: #0000ff;
  position: fixed;
  z-index: 1;
  width: 25vw;
  height: 100vh;
}
img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin-top: 30%;
  margin-left: 15%;
}

.content {
  margin-left: 25vw;
  height: auto;
  width: 100vw;
}

#menuhor {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  line-height: 1rem;
  padding-left: 45rem;
  padding-top: 15px;
  position: fixed;
  height: 5vh;
  width: 80vw;
  list-style: none;
  display: inline-flex;
}

#menuhor li {
  padding-left: 10px;
}

.nav-links a {
  color: white;
  padding-left: 2.5rem;
}

.menu {
  display: block;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
  padding-bottom: 3rem;
  list-style: none;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  margin-left: 10px;
  color: teal;
  position: fixed;
}

#tableOne {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-top: 100px;
}

#tableOne td,
#tableOne th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tableOne tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tabeOne tr:hover {
  background-color: #ddd;
}

#tableOne th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: beige;
  color: black;
}

@media (min-width: 100px) and (max-width: 480px) {
  #home {
    display: inline-block;
    flex-direction: none;
  }

  .navList {
    background-color: #0000ff;
    width: 0vw;
    height: 100vh;
  }
  img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-top: 30%;
    margin-left: 18%;
  }

  .content {
    margin-left: 0vw;
    height: auto;
    width: 100vw;
  }

  #menuhor {
    /* background-color: red; */
    display: none;
    color: white;
    position: fixed;
    height: 5vh;
    width: 100vw;
    margin-left: 13%;
    list-style: none;
    display: inline-flex;
    padding-left: 30px;
  }

  .menu {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    gap: 0em;
  }

  .menu li {
    padding: 0px 10px;
    padding-bottom: 0rem;
    list-style: none;
    /* background-color: brown; */
  }

  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 1px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
    color: brown;
    /* font-size: 10px; */
    border: 1px solid;
    margin-top: -5.5rem;
    margin-left: -0.2rem;
  }

  .blog-admin {
    overflow-x: scroll;
  }
  #tableOne td,
  #tableOne th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  /* .profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 2rem;
    margin-top: 70px;
  } */
  .nav-links a {
    color: white;
    padding-left: 0rem;
    background-color: #0000ff;
    /* border: 1px solid; */
  }
}

@media (min-width: 481px) and (max-width: 860px) {
  .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  #menuhor {
    background-color: black;
    color: white;
    font-size: 1.5rem;
    line-height: 1rem;
    position: fixed;
    padding: 15px;
    padding-left: 45rem;
    height: 5vh;
    width: 100%;
    margin-left: 0%;
    list-style: none;
    display: inline-flex;
  }

  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 30%;
    margin-left: 10%;
  }
}
